<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shopping-cart-web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.example.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessLogin</display-name>
    <servlet-name>ProcessLogin</servlet-name>
    <servlet-class>com.example.controller.ProcessLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLogin</servlet-name>
    <url-pattern>/processLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.example.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cust</display-name>
    <servlet-name>Cust</servlet-name>
    <servlet-class>com.example.controller.Cust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cust</servlet-name>
    <url-pattern>/cust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.example.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categories</display-name>
    <servlet-name>Categories</servlet-name>
    <servlet-class>com.example.controller.Categories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inventory</display-name>
    <servlet-name>Inventory</servlet-name>
    <servlet-class>com.example.controller.Inventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventory</servlet-name>
    <url-pattern>/inventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.example.controller.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessAddCategory</display-name>
    <servlet-name>ProcessAddCategory</servlet-name>
    <servlet-class>com.example.controller.ProcessAddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAddCategory</servlet-name>
    <url-pattern>/processAddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.example.controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessAddProduct</display-name>
    <servlet-name>ProcessAddProduct</servlet-name>
    <servlet-class>com.example.controller.ProcessAddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAddProduct</servlet-name>
    <url-pattern>/processAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.example.controller.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCart</display-name>
    <servlet-name>ViewCart</servlet-name>
    <servlet-class>com.example.controller.ViewCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCart</servlet-name>
    <url-pattern>/viewCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCart</display-name>
    <servlet-name>ClearCart</servlet-name>
    <servlet-class>com.example.controller.ClearCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCart</servlet-name>
    <url-pattern>/clearCart</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>addCategory</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>processAddCategory</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>addProduct</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>processAddProduct</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>com.example.controller.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/checkOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>com.example.controller.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/removeFromCart</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>Admin</display-name>
    <filter-name>Admin</filter-name>
    <filter-class>com.example.filter.Admin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>Admin</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>Categories</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>Inventory</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>Cust</display-name>
    <filter-name>Cust</filter-name>
    <filter-class>com.example.filter.Cust</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Cust</filter-name>
    <servlet-name>Cust</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cust</filter-name>
    <servlet-name>AddToCart</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cust</filter-name>
    <servlet-name>ViewCart</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cust</filter-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cust</filter-name>
    <servlet-name>ClearCart</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cust</filter-name>
    <servlet-name>CheckOut</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>